// Mixins
@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-with-height($lines: 2, $line-size: 1rem) {
  @include line-clamp($lines);
  height: $lines * $line-size;
  max-height: $lines * $line-size;
}
