/* HTML, Body 기본 설정 */
html {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 102vh;
  overflow-x: hidden;
  font-family: "Pretendard", system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple SD Gothic Neo", "Malgun Gothic",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text);
}

/* 모든 요소 기본 설정 */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* 기본 요소 마진/패딩 제거 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

/* 리스트 스타일 제거 */
dl,
ul,
ol,
li {
  list-style: none;
}

/* 인용문 스타일 제거 */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
}

/* 이미지, 비디오 */
fieldset,
img,
video {
  border: 0 none;
  vertical-align: top;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 폼 요소 통합 스타일 */
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 1.6rem;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: 0;
  border: 0;
  background: none;
}

input,
textarea {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
  border: 1px solid #e1e1e1;
  border-radius: 0.6rem;
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 300;
}

input[type="text"]::placeholder,
input::placeholder,
textarea::placeholder {
  color: #999;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

/* Textarea 추가 스타일 */
textarea {
  resize: none;
  width: 100%;
  min-height: 10rem;
}

/* Select 추가 스타일 */
select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

/* Button 추가 스타일 */
button {
  cursor: pointer;
}

/* 테이블 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 폰트 스타일 초기화 */
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

/* 숨김 처리 */
caption,
legend {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/* 반응형 */
@media (max-width: 1024px) {
  :root {
    --radius-lg: 2rem;
    --radius-md: 1.6rem;
  }
}
