@import "mixins";

/* 상단 공지바 */
.top-banner {
  background: #ececec;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

/* 히어로 */
.hero {
  padding: 6rem 0;
  background: #fff;
  transition: padding 0.4s ease-in-out;
}

.hero-inner {
  display: grid;
  grid-template-columns: 68rem 1fr;
  gap: 6rem;
  align-items: start;
}

.hero-feature {
  background: #fff;
  border-radius: var(--radius-lg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 48rem;
}

.hero-feature-main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.6));
  border-radius: var(--radius-lg);
  overflow: hidden;
  padding: 4.8rem 4rem;
  transition: padding 0.4s ease-in-out;

  &:hover {
    .hero-feature-image {
      transform: scale(1.08);
    }
  }
}

.hero-feature-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transition: transform 0.4s ease-in-out;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.6) 100%);
  }
}

.hero-feature-text {
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero-feature-label {
  display: inline-flex;
  padding: 0.5rem 1.2rem;
  border-radius: 99.9rem;
  border: 0.1rem solid var(--blue);
  background: #fff;
  color: var(--blue);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.08rem;
  width: fit-content;
  margin-bottom: 1rem;
}

.hero-feature-title {
  margin: 0 0 2rem;
  font-size: 3.6rem;
  line-height: 120%;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.144rem;
  @include line-clamp(1);
}

.hero-feature-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.hero-feature-author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-feature-author-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 999.9rem;
  background: #fff;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  padding: 0.58rem;

  &::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background: url("/assets/img/logo-small.svg") center/cover no-repeat;
    border-radius: 999.9rem;
  }
}

.hero-feature-author-info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.hero-feature-author-name {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  @include line-clamp(1);
}

.hero-feature-date {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
}

.hero-feature-actions {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  position: relative;
  z-index: 2;
}

.hero-action-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 0.8rem 1.2rem;
  border-radius: 99.9rem;
  border: 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.2rem);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  z-index: 3;
  transition: background 0.1s ease-in-out, backdrop-filter 0.1s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
  }

  &.hero-action-link {
    padding: 0.6rem;
    width: 2.8rem;
    justify-content: center;
  }
}

.hero-action-icon {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-action-text {
  font-size: 1.6rem;
  color: #fff;
}

/* 에디터 픽 */
.editor-pick {
  background: var(--bg);
  padding: 6rem 0;

  .post-row-author-img {
    background-color: #fff;
  }
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.section-left {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.section-head {
  .line {
    width: 100%;
    height: 0.1rem;
    background: #e1e1e1;
    margin: 0 2.4rem 0 3.6rem;
    flex: 1;
    transition: background-color 0.1s ease-in-out;
    align-self: center;
  }
}

.text-link {
  background: none;
  border: 0.1rem solid var(--border);
  border-radius: 999.9rem;
  padding: 0.6rem 1.6rem;
  font-size: 1.6rem;
  color: #606060;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
  order: 1;

  &:hover {
    border-color: #000;
    color: #000;

    &+.line {
      background-color: #000;
    }
  }

  &::after {
    content: "→";
    font-size: 1.4rem;
  }
}


.thumb-card {
  background: transparent;
  border-radius: var(--radius-lg);
  overflow: visible;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &:hover {
    .thumb-title {
      text-decoration: underline;
      text-underline-position: under;
    }

    .thumb-img {
      img {
        transform: scale(1.08);
      }
    }
  }
}

.thumb-img {
  aspect-ratio: 16/9.6;
  background: #e5e7eb;
  border-radius: var(--radius-lg);
  overflow: hidden;

  img {
    transition: transform 0.4s ease-in-out;
  }
}

.thumb-caption {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: transparent;
}

.thumb-label {
  display: inline-flex;
  padding: 0.4rem 1.2rem;
  border-radius: 99.9rem;
  border: 0.1rem solid var(--blue);
  background: #fff;
  color: var(--blue);
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.072rem;
  width: fit-content;
}

.thumb-title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #404040;
  letter-spacing: -0.096rem;
  line-height: 120%;
  @include line-clamp(2);
}

.banner {
  width: 100%;
  height: 30rem;
  border-radius: var(--radius-md);
  background: #e5e7eb;
  margin-top: 2rem;
}

/* 중간 배너 */
.mid-banner {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.9);
  }
}

.mid-banner-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  position: relative;
  z-index: 1;
}

.mid-banner-left {
  display: none;
}

.mid-banner-right {
  text-align: center;
}

.mid-banner-title {
  margin: 0;
  font-size: 3.6rem;
  font-weight: 400;
  color: #129dd5;
  letter-spacing: -0.144rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;

  &::before {
    content: "서울대병원 교수들이 만든 안과";
    font-weight: 300;
  }

  &::after {
    content: "더원서울안과";
    font-weight: 700;
  }
}

/* 메인 피드 */
.feed {
  padding: 6rem 0;
}

.feed-grid {
  display: grid;
  grid-template-columns: minmax(0, 80rem) minmax(42rem, 1fr);
  gap: 6rem;
  align-items: flex-start;
}

.post-list {
  display: grid;
  gap: 6rem;

  &.column {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 4rem;

    .post-row {
      a {
        flex-direction: column;
        grid-template-columns: 1fr;
      }
    }
  }
}

.post-row {
  display: grid;
  gap: 2rem;
  padding: 0;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 0.1rem solid rgba(225, 225, 225, 0);
  cursor: pointer;

  >a {
    display: grid;
    grid-template-columns: 40rem 1fr;
    gap: 2rem;
    width: 100%;
  }

  &:hover {
    .post-row-title {
      text-decoration: underline;
      text-underline-position: under;
    }

    .post-row-img {
      img {
        transform: scale(1.08);
      }
    }
  }
}

.post-row-thumb {
  display: block;
}

.post-row-img {
  display: block;
  width: 100%;
  height: 24rem;
  border-radius: var(--radius-lg);
  background: #e5e7eb;
  overflow: hidden;

  img {
    transition: transform 0.4s ease-in-out;
  }


}

.post-row-body {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-row-label {
  font-size: 1.8rem;
  color: var(--blue);
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: -0.072rem;
  display: inline-flex;
  padding: 0.4rem 1.2rem;
  border-radius: 99.9rem;
  border: 0.1rem solid var(--blue);
  background: #fff;
  width: fit-content;
}

.post-row-title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #404040;
  letter-spacing: -0.096rem;
  line-height: 120%;
  @include line-clamp(2);
}

.post-row-desc {
  margin: 0;
  font-size: 1.6rem;
  color: #676767;
  letter-spacing: -0.064rem;
  line-height: 1.6;
  flex: 1;

  p {
    @include line-clamp(2);
  }
}

.post-row-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto;
}

.post-row-author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-row-author-img {
  display: flex;
  height: 4.5rem;
  padding: 0.5767rem 0.4rem 0.6233rem 0.2rem;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background: #f7f7f7;
  border-radius: 100%;

  img {
    background: url("/assets/img/logo-small.svg") lightgray 0px -3.037px / 100% 109.318% no-repeat;
    mix-blend-mode: darken;
    height: 3.3rem;
  }
}

.post-row-author-name {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #404040;
  @include line-clamp(1);
}

.post-row-date {
  margin: 0.6rem 0 0;
  font-size: 1.2rem;
  color: #404040;
  font-weight: 400;
}

.post-row-actions {
  display: flex;
  gap: 0.6rem;
}

.post-action-btn {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  border: 0;
  background: #f7f7f7;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease-in-out;

  span {
    display: flex;
  }

  &:hover {
    background-color: var(--border);
  }
}

/* 오른쪽 사이드 */
.sticky-area {
  display: grid;
  gap: 2rem;
  position: sticky;
  top: calc(var(--gnb) + var(--header-inner) + 3rem);
  transition: top 0.65s ease;

  &.scroll-down {
    top: 3rem;
  }
}

.side-card {
  background: transparent;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  overflow: visible;
}

.side-card-head {
  margin-bottom: 2rem;
  padding: 0;
}

@media (max-width: 1280px) {
  .hero {
    padding: 4.5rem 0;
  }

  .hero-inner {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .hero-feature-main {
    padding: 3rem;
  }

  .hero-feature-label {
    font-size: 1.8rem;
  }

  .hero-feature-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .hero-feature-author-name,
  .hero-action-text {
    font-size: 1.5rem;
  }


  .thumb-grid {
    gap: 2rem;
  }

  .thumb-label {
    font-size: 1.7rem;
  }

  .thumb-title {
    font-size: 2.2rem;
  }

  .flag-blue {
    font-size: 2rem;
  }

  .feed-grid {
    gap: 4rem;
    grid-template-columns: minmax(0, 1.2fr) minmax(32rem, 0.8fr)
  }

  .post-list {
    .post-row {
      a {
        grid-template-columns: 1fr 1fr;
      }
    }

    &.column {
      gap: 2rem;
    }
  }

  .post-row-img {
    height: auto;

    aspect-ratio: 16/9;
  }

  .post-row-title {
    font-size: 2.1rem;
  }

  .post-row-author-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 3rem 0;
  }

  .hero-inner {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .hero-feature {
    height: auto;
    aspect-ratio: 16/9;
  }

  .hero-feature-image {
    img {
      object-position: top;
    }
  }

  .sticky-area {
    position: static;
    margin-top: 6rem;
  }

  .feed-grid {
    display: block;
  }

  .post-list {
    gap: 4rem;
  }

  .post-row-thumb {
    display: flex;
  }

  .post-row-body {
    min-width: 0;
    overflow: hidden;
  }

  .post-row-author-img {
    width: 3.6rem;
    height: 3.6rem;

    img {
      width: 3.1rem;
      height: 2.6rem;
    }
  }
}

@media (max-width: 768px) {
  .hero-inner {
    gap: 2rem;
  }

  .hero-feature-main {
    padding: 2rem;
  }

  .hero-feature-label {
    font-size: 1.6rem;
  }

  .hero-feature-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .hero-feature-author-name,
  .hero-action-text {
    font-size: 1.4rem;
  }

  .editor-pick {
    padding: 3rem 0;
  }

  .section-head {
    flex-wrap: wrap;
    gap: 1rem;

    .line {
      margin: 0;
    }
  }

  .section-left {
    width: 100%;
  }

  .flag-blue,
  .flag-blue.small {
    font-size: 1.8rem;
  }

  .text-link {
    order: 2;
    margin-left: 1.4rem;
  }

  .post-list {
    &.column {
      grid-template-columns: 1fr;

      .post-row {
        a {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .post-row-label {
    font-size: 1.6rem;
  }

  .post-row-title {
    font-size: 1.8rem;
  }

  .post-row-author-name {
    font-size: 1.4rem;
  }

  .post-row-date {
    font-size: 1.2rem;
  }

  .post-row-desc {
    p {
      font-size: 1.2rem;
      flex: none;
      @include line-clamp(3);
    }
  }

  .feed {
    padding: 3rem 0 6rem 0;
  }
}

@media (max-width: 640px) {
  .post-list {

    &.column {
      grid-template-columns: 1fr;

      .post-row {
        a {
          grid-template-columns: 1fr;
        }
      }
    }

    &:not(.column) {

      .post-row {

        a {
          align-self: stretch;
          grid-template-columns: 28.25vw 1fr;
        }

        .post-row-img {
          aspect-ratio: 10/20;
          width: 100%;
          flex: 0 0 auto;
        }
      }
    }
  }
}