.sub-top {
  position: relative;
  background: #303030;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-top.sub-01 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-01.png) no-repeat center center/cover;
}
.sub-top.sub-02 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-02.png) no-repeat center center/cover;
}
.sub-top.sub-03 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-03.png) no-repeat center center/cover;
}
.sub-top.sub-04 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-04.png) no-repeat center center/cover;
}
.sub-top.sub-05 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-05.jpg) no-repeat center center/cover;
}
.sub-top.sub-06 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-06.png) no-repeat center center/cover;
}
.sub-top.sub-07 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-07.png) no-repeat center center/cover;
}
.sub-top.sub-08 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-08.jpg) no-repeat center center/cover;
}
.sub-top.sub-09 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-09.png) no-repeat center center/cover;
  background-blend-mode: multiply;
}
.sub-top.sub-10 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(/assets/img/sub-10.mp4) lightgray 0.006px -56.436px/100% 169.302% no-repeat;
}
.sub-top #desktopVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-top .sub-inner {
  width: 100%;
  max-width: 128rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: #fff;
  z-index: 1;
}
.sub-top .sub-inner .sub-navi {
  color: #fff;
}
.sub-top .sub-title {
  font-size: 3.2rem;
  font-weight: 700;
}

.sub-navi {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #777;
}
.sub-navi a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.sub-navi .navi-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}

@media (max-width: 768px) {
  .sub-top {
    height: 16rem;
  }
}