.sub-top {
  position: relative;
  background: #303030;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease;

  &.sub-01 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-01.png) no-repeat center center / cover;
  }

  &.sub-02 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-02.png) no-repeat center center / cover;
  }

  &.sub-03 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-03.png) no-repeat center center / cover;
  }

  &.sub-04 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-04.png) no-repeat center center / cover;
  }

  &.sub-05 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-05.jpg) no-repeat center center / cover;
  }

  &.sub-06 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-06.png) no-repeat center center / cover;
  }

  &.sub-07 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-07.png) no-repeat center center / cover;
  }

  &.sub-08 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-08.jpg) no-repeat center center / cover;
  }

  &.sub-09 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(../../assets/img/sub/sub-09.png) no-repeat center center / cover;
    background-blend-mode: multiply;
  }

  &.sub-10 {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }

  #desktopVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sub-inner {
    width: 100%;
    max-width: 128rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color: #fff;
    z-index: 1;

    .sub-navi {
      color: #fff;
    }
  }

  .sub-title {
    font-size: 3.2rem;
    font-weight: 700;
  }
}

.sub-navi {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #777;

  a {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    p {
      margin-left: 1.1rem;
    }
  }

  .navi-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
  }
}


@media (max-width: 1280px) {
  .sub-top {
    .sub-inner {
      padding: 0 2rem;
    }
  }
}

@media (max-width: 768px) {
  .sub-top {
    height: 16rem;

    &.sub-01 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../../assets/img/sub/sub-01-mo.png) no-repeat center center / cover;
    }

    &.sub-02 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-02-mo.png) no-repeat center center / cover;
    }

    &.sub-03 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-03-mo.png) no-repeat center center / cover;
    }

    &.sub-04 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-04-mo.png) no-repeat center center / cover;
    }

    &.sub-05 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-05-mo.png) no-repeat center center / cover;
    }

    &.sub-06 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-06-mo.png) no-repeat center center / cover;
    }

    &.sub-07 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-07-mo.png) no-repeat center center / cover;
    }

    &.sub-08 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-08-mo.png) no-repeat center center / cover;
    }

    &.sub-09 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        url(../../assets/img/sub/sub-09-mo.png) no-repeat center center / cover;
    }

    .sub-inner {
      gap: 1rem;
    }

    .sub-title {
      font-size: 2.4rem;
    }
  }

  .sub-navi {
    gap: 0.6rem;

    a {
      font-size: 1.4rem;

      p {
        margin-left: 0.6rem;
      }
    }
  }

  .section {
    .sub-navi {
      margin-bottom: 1.8rem;
    }
  }

}